.footer {
  height: 3.5rem;
  max-height: 3.5rem;
  background-color: red;
  display: flex;
  width: 100%;
}

.footer_view {
  background-color: aqua;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_view_item {
  background-color: aqua;
  display: flex;
}